# Compiled C++ Binaries
int8_engine
int8_engine.exe
*.out
*.exe
*.o
*.obj

# Mac/OSX specific
.DS_Store

# Generated AI Model Weights & Validation Sets
models/fp32_model.json
models/int8_model.json
models/validation_set.json

# If you just want to ignore ALL JSON files in the models folder, use this instead:
# models/*.json

